{% load static %}

<nav class="navbar navbar-expand-lg mt-2 mb-2" 
style="background-color: #0a4275; margin-left: 10px; margin-right: 10px; border-radius: 5px;" >
  <!-- Container wrapper -->
  <div style="color: white;" class="container-fluid"
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="{% url 'post:index' %}" title="Home | Cinemato">
        <img
          src="{% static '/images/g1.png' %}"
          height="55"
          width="130px"
          alt="MDB Logo"
          loading="lazy"
        />
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
        <li class="nav-item">
          <a href="{% url 'post:index' %}" class="nav-link" style="color: white;" >Home</a>
        </li>
        <li class="nav-item" title="Movies | Cinemato">
          <a class="nav-link" href="http://127.0.0.1:8000/tag/movie" style="color: white;">Movies</a>
        </li>
        <li class="nav-item" title="Anime | Cinemato">
          <a class="nav-link" href="http://127.0.0.1:8000/tag/anime" style="color: white;">Anime</a>
        </li>    
        <li class="nav-item" title="Series | Cinemato">
          <a class="nav-link" href="http://127.0.0.1:8000/tag/series"  style="color: white;">Series</a>
        </li>    
        <li class="nav-item" title="Categories | Cinemato">
          <a class="nav-link" href="{% url 'post:category_view' %}" style="color: white;">Categories</a>
        </li>        


      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center ">
      <search class="input-group " style="margin-right: 15px;" >
        <div class="form-outline" style="border-radius: 5px; background-color: #b8dcff;">
      <form class="d-flex input-group w-auto" action="{% url 'post:search' %}">
          <input 
          name="q"
          id="search-input" 
          type="search" 
          id="form1" 
          class="form-control" 
          />

          <label class="form-label" for="form1">Search</label>
        </div>
        <button id="search-button" type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </form>

      </search>
      <!-- Icon -->
      <a class="text-reset me-3" href="#">
        <i class="fas fa-shopping-cart"></i>
      </a>

      <!-- Notifications -->
      <div class="dropdown">
        <a
          class="text-reset me-3 dropdown-toggle hidden-arrow"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fas fa-bell"></i>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" href="#">Some news</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Another news</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
        </ul>
      </div>
      <!-- Avatar -->
      <div class="dropdown">
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle"
            height="25"
            alt="Black and White Portrait of a Man"
            loading="lazy"
          />
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li>
            <a class="dropdown-item" href="#">My profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>